\documentclass{article}
\usepackage{listings}
\usepackage{framed}
\usepackage{graphicx}
\usepackage[parfill]{parskip}

\begin{document}

\input{NAME.tex}

\newpage
\subsection*{Full Code and Diagram}
\begin{framed}
\lstinputlisting{NAME.sp.code}
\end{framed}
\begin{center}
\includegraphics{NAME.ps}
\end{center}
\end{document}
